In [17]:
import pandas as pd

In [18]:
def merge_csv_on_date(filepaths):
    dfs = []
    
    for filepath in filepaths:
        print(filepath)
        df = pd.read_csv(filepath)
        df['date'] = pd.to_datetime(df['date'])
        df['date'] = df['date'].dt.strftime('%Y/%m/%d')
        dfs.append(df)
    
    merged_df = pd.concat(dfs, join='outer', sort=True).groupby('date').sum().reset_index()
    return merged_df

In [19]:
filepaths = ['日圓.csv', '美元台幣.csv', 'TaiwanFuturesExchange.csv', '大盤日開高收低.csv', '2330ADR.csv', '費半.csv']
print(filepaths)

['日圓.csv', '美元台幣.csv', 'TaiwanFuturesExchange.csv', '大盤日開高收低.csv', '2330ADR.csv', '費半.csv']

In [20]:
merge_df = merge_csv_on_date(filepaths)

日圓.csv
美元台幣.csv
TaiwanFuturesExchange.csv
大盤日開高收低.csv
2330ADR.csv
費半.csv

In [21]:
merge_df.replace(0.0, -1, inplace=True)

In [22]:
rows_to_keep = (merge_df == -1).sum(axis=1) < 5
merge_df = merge_df[rows_to_keep]
merge_df

,date,台積_SMA10,台積_SMA5,台積_收盤價,台積_最低價,台積_最高價,台積_開盤價,外資,大盤_SMA10,大盤_SMA5,...,美元_最低價,美元_最高價,美元_開盤價,自營商,費半_SMA10,費半_SMA5,費半_收盤價,費半_最低價,費半_最高價,費半_開盤價
936,2007/01/11,-1.000,10.794,11.23,10.83,11.30,10.85,-1.0,7800.862,7735.872,...,32.585,32.808,32.585,-1.0,472.756364,476.848,480.68,480.68,487.92,485.14
937,2007/01/12,-1.000,11.034,11.13,10.90,11.43,11.22,-1.0,7803.740,7721.100,...,32.670,32.830,32.680,-1.0,473.909091,479.532,482.51,479.02,483.39,479.02
938,2007/01/15,-1.000,11.076,11.25,11.20,11.35,11.25,-1.0,7799.718,7730.458,...,32.600,32.757,32.600,-1.0,474.361818,480.164,477.52,477.52,477.52,477.52
939,2007/01/16,-1.000,11.152,11.31,11.25,11.38,11.34,-1.0,7786.846,7730.872,...,32.650,32.794,32.650,-1.0,474.875454,479.938,473.44,473.44,477.32,476.48
940,2007/01/17,-1.000,11.254,11.35,11.17,11.60,11.37,-1.0,7778.514,7757.964,...,32.655,32.834,32.655,-1.0,474.976364,477.356,472.63,471.48,475.02,474.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5337,2023/09/14,91.610,90.482,91.47,91.26,92.73,92.67,1936.0,16655.429,16594.150,...,31.838,31.955,31.942,-3974.0,3612.640909,3564.200,3584.23,3549.13,3598.15,3594.56
5338,2023/09/15,91.185,90.416,89.30,88.86,91.13,90.62,-1469.0,16683.027,16663.130,...,31.856,31.988,31.910,-2151.0,3597.410909,3546.280,3476.39,3461.16,3560.89,3555.57
5339,2023/09/18,90.747,90.264,88.84,88.43,89.66,88.60,-6811.0,16673.882,16716.188,...,31.824,31.993,31.835,-510.0,3581.187273,3530.928,3492.47,3446.22,3504.03,3446.80
5340,2023/09/19,90.104,89.800,88.17,87.79,88.84,88.48,-8399.0,16658.353,16728.910,...,31.865,32.066,31.949,-125.0,3560.840000,3514.514,3459.02,3441.91,3482.53,3475.53
5341,2023/09/20,89.734,89.268,88.56,88.35,89.31,88.58,-6165.0,16638.012,16719.558,...,31.922,32.064,32.022,-1466.0,3540.308182,3494.010,3457.94,3451.36,3485.72,3471.74

In [23]:
merge_df.columns

Index(['date', '台積_SMA10', '台積_SMA5', '台積_收盤價', '台積_最低價', '台積_最高價', '台積_開盤價',
       '外資', '大盤_SMA10', '大盤_SMA5', '大盤_成交量', '大盤_收盤價', '大盤_最低價', '大盤_最高價',
       '大盤_開盤價', '投信', '日圓_SMA10', '日圓_SMA5', '日圓_收盤價', '日圓_最低價', '日圓_最高價',
       '日圓_開盤價', '美元_收盤價', '美元_最低價', '美元_最高價', '美元_開盤價', '自營商', '費半_SMA10',
       '費半_SMA5', '費半_收盤價', '費半_最低價', '費半_最高價', '費半_開盤價'],
      dtype='object')

In [24]:
dropped_columns = ['台積_SMA10', '台積_SMA5', '大盤_SMA10', '大盤_SMA5', '日圓_SMA10', '日圓_SMA5', '費半_SMA10', '費半_SMA5']
merge_df = merge_df.drop(columns=dropped_columns)

In [25]:
merge_df.to_csv('row_data.csv', index=False)