In [9]:
import pandas as pd
import glob

In [15]:
def merge_csv_on_date(filepaths):
    dfs = []
    
    for filepath in filepaths:
        print(filepath)
        df = pd.read_csv(filepath)
        df['date'] = pd.to_datetime(df['date'])
        df['date'] = df['date'].dt.strftime('%Y/%m/%d')
        dfs.append(df)
    
    merged_df = pd.concat(dfs, join='outer', sort=True).groupby('date').sum().reset_index()
    return merged_df

In [26]:
filepaths = ['日圓.csv', '美元指數.csv', 'TaiwanFuturesExchange.csv', '大盤日開高收低.csv', '2330ADR.csv', '費半.csv']
print(filepaths)

['日圓.csv', '美元指數.csv', 'TaiwanFuturesExchange.csv', '大盤日開高收低.csv', '2330ADR.csv', '費半.csv']

In [27]:
merge_df = merge_csv_on_date(filepaths)

日圓.csv
美元指數.csv
TaiwanFuturesExchange.csv
大盤日開高收低.csv
2330ADR.csv
費半.csv

In [28]:
merge_df.replace(0.0, -1, inplace=True)

In [33]:
rows_to_keep = (merge_df == -1).sum(axis=1) < 5
merge_df = merge_df[rows_to_keep]
merge_df

,date,台積_SMA10,台積_SMA5,台積_收盤價,台積_最低價,台積_最高價,台積_開盤價,外資,大盤_SMA10,大盤_SMA5,...,美元_最低價,美元_最高價,美元_開盤價,自營商,費半_SMA10,費半_SMA5,費半_收盤價,費半_最低價,費半_最高價,費半_開盤價
929,2007/01/11,-1.000,10.794,11.23,10.83,11.30,10.85,-1.0,7800.862,7735.872,...,84.93,85.39,85.32,-1.0,472.756364,476.848,480.68,480.68,487.92,485.14
930,2007/01/12,-1.000,11.034,11.13,10.90,11.43,11.22,-1.0,7803.740,7721.100,...,84.96,85.10,85.00,-1.0,473.909091,479.532,482.51,479.02,483.39,479.02
931,2007/01/15,-1.000,11.076,11.25,11.20,11.35,11.25,-1.0,7799.718,7730.458,...,84.64,85.06,84.93,-1.0,474.361818,480.164,477.52,477.52,477.52,477.52
932,2007/01/16,-1.000,11.152,11.31,11.25,11.38,11.34,-1.0,7786.846,7730.872,...,84.89,85.14,85.01,-1.0,474.875454,479.938,473.44,473.44,477.32,476.48
933,2007/01/17,-1.000,11.254,11.35,11.17,11.60,11.37,-1.0,7778.514,7757.964,...,84.76,85.26,84.89,-1.0,474.976364,477.356,472.63,471.48,475.02,474.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5330,2023/09/14,91.610,90.482,91.47,91.26,92.73,92.67,1936.0,16655.429,16594.150,...,104.56,105.44,104.74,-3974.0,3612.640909,3564.200,3584.23,3549.13,3598.15,3594.56
5331,2023/09/15,91.185,90.416,89.30,88.86,91.13,90.62,-1469.0,16683.027,16663.130,...,105.08,105.41,105.38,-2151.0,3597.410909,3546.280,3476.39,3461.16,3560.89,3555.57
5332,2023/09/18,90.747,90.264,88.84,88.43,89.66,88.60,-6811.0,16673.882,16716.188,...,105.02,105.36,105.31,-510.0,3581.187273,3530.928,3492.47,3446.22,3504.03,3446.80
5333,2023/09/19,90.104,89.800,88.17,87.79,88.84,88.48,-8399.0,16658.353,16728.910,...,104.82,105.21,105.08,-125.0,3560.840000,3514.514,3459.02,3441.91,3482.53,3475.53
5334,2023/09/20,89.734,89.268,88.56,88.35,89.31,88.58,-6165.0,16638.012,16719.558,...,104.76,105.26,105.11,-1466.0,3540.308182,3494.010,3457.94,3451.36,3485.72,3471.74

In [34]:
merge_df.to_csv('row_data.csv', index=False)